<%- include('partials/_header.ejs') %>

<div class="container">
    <div class="row">
        <%
        if(data){
           data.forEach( notas =>{
               %>
        <div class="col-md-4">
            <div class="card text-white bg-dark mt-5" style="max-width: 20rem;">
                <div class="card-header">Actividad</div>
                <div class="card-body">
                    <!-- Se comprueba el estado de la nota 0= no realizada 1= nota realizada 
                        en caso de que  esté realizada se aplica una decoración que subraya lo realizado...-->
                    <% if(notas.hecho == 0){ 
                        %>
                    <h4 class="card-title"><%= notas.titulo %></h4>
                    <p class="card-text"><%= notas.descripcion %></p>
                    <%}else{ %>
                    <h4 class="card-title" style="text-decoration-line: line-through;"><%= notas.titulo %></h4>
                    <p class="card-text" style="text-decoration-line: line-through;"><%= notas.descripcion %></p>

                    <%} %>

                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <form action="/listo/<%= notas.id %>" method="UPDATE">
                        <!-- Se comprueba el estado de la nota 0= no realizada 1= nota realizada 
                        en caso de que esté realizada se deshabilita el botón "Listo"-->
                        <% if(notas.hecho == 0){ 
                            %>
                        <button type="submit" class="btn btn-primary">Listo</button>
                        <%}else{ %>
                        <button type="submit" class="btn btn-primary" disabled>Listo</button>
                        <%} %>
                    </form>
                    <form action="/delete/<%= notas.id %>" method="DELETE">
                        <button class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>

        </div>
        <% 
    })
       }
%>
  <%- include('partials/_formularioNota.ejs') %>


<%- include('partials/_footer.ejs') %>